@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}


.button1{
  height: 65px;
  background-color: #57778d;
  width: 900px;
  margin-bottom: 30px;
  font-weight: bold;
}

.button1:hover{
  color: #57778d;
  background-color: #FFFFFF;

}


.button2{
  min-height: 65px;
  color: #57778d;
  background-color: white;
  width: 900px;
  margin-bottom: 30px;
  font-weight: bold;

}

.button2:hover{
  color: white;
  background-color: #57778d;
  opacity: 0.7%;
  filter: alpha(opacity=70);

}

.Menu{
  margin-top : 200px;
  margin-left: 300px;

}

/*---------------------------------- IMPORTAR DIV --------------------------*/

.ImportarDiv{
  padding-left: 100px;
  margin-top:30px;
  margin-bottom:40px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  width: 800px;
}

.Button260{
  height:30px;
  background-color:#57778d;
  width: 150px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.Button260:hover{
  height: 30px;
  background-color:#57778d;
  width: 150px;
  margin-bottom: 30px;

}

.File{
  width: 40px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: -15px;
}

/* ------------------------------- MEDIA ANUAL DIV ----------------------------------------*/

.MediaAnualDiv{
  padding-left: 100px;
  margin-top:30px;
  margin-bottom:40px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  width: 800px;
}

.Button101{
  height:30px;
  background-color: #57778d;
  width: 150px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.Button101:hover{
  height: 30px;
  background-color:#57778d;
  width: 150px;
  margin-bottom: 30px;
}

/* ------------------------------- TAXA MENSAL DIV ----------------------------------------*/


.TaxaMensalDiv{
  padding-left: 100px;
  margin-top:30px;
  margin-bottom:40px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  width: 800px;
}

.Button101{
  height:30px;
  background-color: #57778d;
  width: 150px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.Button101:hover{
  height: 30px;
  background-color:#57778d;
  width: 150px;
  margin-bottom: 30px;
}

